@charset "UTF-8";
// Quill Editor
[ng-quill-editor] {
    display: block;
}
// Generales
.inicio {
    .encabezado {
        color: #fff;
        background-color: #00a2ff;
        height: 33%;
        .logo-aP {
            width: 25%;
            height: auto;
        }
    }
    .fila-cards {
        .card-media {
            background-color: #999999;
        }
    }
}

.test {
    md-toolbar {
        background-color: #00a2ff;
        .logo_aP {
            width: auto;
            max-width: auto;
        }
    }
    .abrir {
        .lista-motores {
            margin-top: 25px;
        }
    }
    .nuevo {
        .contenido {
            margin-top: 25px;
        }
    }
}
